body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    background-color: #1e1e1e;
    height: 100vh;
    margin: 0px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

p {
    margin: 0;
}

img {
    height: 15vh;
    width: auto;
    pointer-events: none;
}

button {
    height: 30vh;
    width: 30vh;
    background-color: #3d3d3d;
    border-radius: 15%;
    cursor: pointer;
    flex: none;
}

header{
    background-color: #121212;
    height: 5%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-family: 'Montserrat', sans-serif;
}

#playerOptions {
    height: 35%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#roundResult {
    height: 25%;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

#roundResult h2 {
    font-size: 30px;
    font-weight: 900;
    width: 300px;
    text-align: center;
}

#roundResult div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#roundResult {
    height: 5%;
}

#winnerDeclaration {
    font-size: 35px;
    font-weight: 900;
    text-align: center;
    margin: 30px;
}

#points {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#points div {
    width: 300px;
    font-size: 23px;
    font-weight: 900;
    text-align: center;
}

#gameWinner {
    height: 10%;
    font-size: 35px;
    font-weight: 900;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}