body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    background-color: #1e1e1e;
    height: 100vh;
    margin: 0px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

img {
    height: 15vh;
    width: auto;
}

button {
    height: 30vh;
    width: 30vh;
    background-color: #3d3d3d;
    border-radius: 15%;
    cursor: pointer;
}

header, footer {
    background-color: #121212;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-family: 'Montserrat', sans-serif;
}

#playerOptions {
    height: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#roundResult {
    height: 30%;
}

#gameResult {
    height: 30%;
}